<button name="button" type="button" class="btn btn-dark" (click)=toggleMember()>Toggle Us</button>
<div *ngIf=toggleUsFlag>
<div class="" *ngFor="let fam of familyMemebers; let i=index" (click)=selectUs(fam) appAppBold bgColor='blue'>
  {{i+1}}{{fam}}
</div>
</div>
<div [ngSwitch]="selectedUs" [ngStyle]=myStyle>
  <div *ngSwitchCase="familyMemebers[0]">Todd Smith</div>
  <div *ngSwitchCase="'Mom'">Carrie Smith</div>
  <div *ngSwitchCase="familyMemebers[2]">Andrew Smith</div>
  <div *ngSwitchCase="familyMemebers[3]">Todd Smith II</div>
  <div *ngSwitchDefault>None of Us selected</div>
</div>
<button type="button" name="button" (click)=setStyle()>Change Style</button>

<h2 [ngClass]="currentCSSClass">Change CSS Dynamically</h2>
<button type="button" name="button" (click)=setCSSClass()>Change CSS Class Dynamically</button>

<h2 [style.color]="inputColor">Change text color using NgModel</h2>
<input type="text" [(ngModel)]="inputColor" name="" value="">


