<button name="button" type="button" class="btn btn-dark" (click)=toggleMember()>Toggle Us</button>
<div *ngIf=toggleUsFlag>
<div class="" *ngFor="let fam of familyMemebers; let i=index" (click)=selectUs(fam)>
  {{i+1}}{{fam}}
</div>
</div>
<div [ngSwitch]="selectedUs">
  <div *ngSwitchCase="familyMemebers[0]">Todd Smith</div>
  <div *ngSwitchCase="'Mom'">Carrie Smith</div>
  <div *ngSwitchCase="familyMemebers[2]">Andrew Smith</div>
  <div *ngSwitchCase="familyMemebers[3]">Todd Smith II</div>
  <div *ngSwitchDefault>None of Us selected</div>
</div>
