<button name="button" type="button" class="btn btn-dark" (click)=toggleMember()>Toggle Us</button>
<div *ngIf=toggleUsFlag>
<div class="" *ngFor="let fam of familyMemebers; let i=index" (click)=selectUs(fam) appAppBold bgColor='blue'>
  {{i+1}}{{fam}}
</div>
</div>
<div [ngSwitch]="selectedUs" [ngStyle]=myStyle>
  <div *ngSwitchCase="familyMemebers[0]">Todd Smith</div>
  <div *ngSwitchCase="'Mom'">Carrie Smith</div>
  <div *ngSwitchCase="familyMemebers[2]">Andrew Smith</div>
  <div *ngSwitchCase="familyMemebers[3]">Todd Smith II</div>
  <div *ngSwitchDefault>None of Us selected</div>
</div>
<button type="button" name="button" (click)=setStyle()>Change Style</button>

<h2 [ngClass]="currentCSSClass">Change CSS Dynamically</h2>
<button type="button" name="button" (click)=setCSSClass()>Change CSS Class Dynamically</button>

<h2 [style.color]="inputColor">Change text color using NgModel</h2>
<input type="text" [(ngModel)]="inputColor" name="" value="">

<br>
<br>
<h2>Data from MongoDB Admins</h2>
<div class="" *ngFor="let admin of adminList; let i=index">
  {{i+1}}{{admin.email}}{{admin.password}}
</div>
<br><br>
<h2>Data from MogoDB Products</h2>
<div class="" *ngFor="let product of productList; let i=index">
  {{i+1}}{{product.name}}{{product.description}}{{product.color}}{{product.cost}}{{product.imageURL}}{{product.price}}{{product.size}}{{product.inStock}}
</div>
<br><br>
<h2>Data from MogoDB Shoppers</h2>
<div class="" *ngFor="let shopper of shopperList; let i=index">
  {{i+1}}{{shopper.firstName}}{{shopper.middleName}}{{shopper.lastName}}{{shopper.address1}}{{shopper.address2}}{{shopper.city}}{{shopper.state}}{{shopper.zip}}{{shopper.email}}{{shopper.phone}}{{shopper.password}}
</div>
<br><br>
<h2>Data from MogoDB Transactions</h2>
<div class="" *ngFor="let transaction of transactionList; let i=index">
  {{i+1}}{{transaction.productID}}{{transaction.shopperID}}{{transaction.productPrice}}{{transaction.quantity}}{{transaction.saleState}}{{transaction.taxRate}}{{transaction.total}}
</div>
<br><br>
<h2>Data from MogoDB Workers</h2>
<div class="" *ngFor="let worker of workerList; let i=index">
  {{i+1}}{{worker.email}}{{worker.zip}}{{worker.firstName}}{{worker.LastName}}
</div>

