<div class="container">
    <hr>
      <h1>Meet the Crew</h1>
      <hr>
      </div>

 <div class="album py-5 bg-light">
          <div class="container">

            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="../../assets/toddii.jpg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Todd Smith II</p>
                    <p class="card-text">Things about Todd II</p>

                   </div>
                </div>
              </div>
