<div class="container">
  <hr>
    <h1>Administration Portal</h1>
    <hr>
</div>
<div class="container-fluid text-center bg-light">

<div *ngIf=toggleTransaction>
    <h2>Transactions</h2>
<div class=btn-group>
<button type="button" class="btn btn-success" (click)=showCreateTransaction()>
  Create
</button>
<button type="button" class="btn btn-primary" (click)=getTransactions()>
  Read
</button>


</div>
</div>

<div *ngIf=toggleShopper>
    <h2>Shoppers</h2>
    <div class=btn-group>
        <button type="button" class="btn btn-success" (click)=showCreateShopper()>
        Create
        </button>
        <button type="button" class="btn btn-primary" (click)=getShoppers()>
        Read
        </button>
   </div>
</div>

    <div *ngIf=toggleWorker>
        <h2>Workers</h2>
        <div class=btn-group>
        <button type="button" class="btn btn-success" (click)=showCreateWorker()>
          Create
        </button>
        <button type="button" class="btn btn-primary" (click)=getWorkers()>
          Read
        </button>

        </div>
      </div>
  <div *ngIf=toggleProduct>
      <h2>Products</h2>
        <div class=btn-group>
    <button type="button" class="btn btn-success" (click)=showCreateProduct()>
      Create
    </button>
    <button type="button" class="btn btn-primary" (click)=getProducts()>
      Read
    </button>
       </div>
  </div>

    <div *ngIf=toggleCreateProduct>
      <form class="form-signin just_form" #product="ngForm" (ngSubmit)="createProduct(product)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Product</h1>
          </div>

          <div class="form-label-group">
          <input type="text" name="name" class="form-control" placeholder="name" ngModel required autofocus>
          <label for="name">Name</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="description" class="form-control" placeholder="description" ngModel required>
          <label for="description">Description</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="price" class="form-control" placeholder="price" ngModel required>
          <label for="price">Price</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="cost" class="form-control" placeholder="cost" ngModel required>
          <label for="cost">Cost</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="size" class="form-control" placeholder="size" ngModel required>
          <label for="size">Size</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="color" class="form-control" placeholder="color" ngModel required>
          <label for="color">Color</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="imageURL" class="form-control" placeholder="imageURL" ngModel required>
          <label for="imageURL">Image URL</label>
          </div>

          <div class="form-label-group">
          <input type="text" name="inStock" class="form-control" placeholder="inStock" ngModel required>
          <label for="inStock">In Stock</label>
          </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)=hideCreateProduct()>Cancel</button>

      </form>
  </div>

  <div *ngIf=toggleEditProduct>
    <form class="form-signin just_form" #prod="ngForm" (ngSubmit)="updateProduct(prod)">

        <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Product</h1>
        </div>

        <div class="form-label-group">
        <input type="text" name="name" class="form-control" placeholder="name" [ngModel]="selectedProduct.name" required autofocus>
        <label for="name">Name</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="description" class="form-control" placeholder="description" [ngModel]="selectedProduct.description" required>
        <label for="description">Description</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="price" class="form-control" placeholder="price" [ngModel]="selectedProduct.price" required>
        <label for="price">Price</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="cost" class="form-control" placeholder="cost" [ngModel]="selectedProduct.cost" required>
        <label for="cost">Cost</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="size" class="form-control" placeholder="size" [ngModel]="selectedProduct.size" required>
        <label for="size">Size</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="color" class="form-control" placeholder="color" [ngModel]="selectedProduct.color" required>
        <label for="color">Color</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="imageURL" class="form-control" placeholder="imageURL" [ngModel]="selectedProduct.imageURL" required>
        <label for="imageURL">Image URL</label>
        </div>

        <div class="form-label-group">
        <input type="text" name="inStock" class="form-control" placeholder="inStock" [ngModel]="selectedProduct.inStock" required>
        <label for="inStock">In Stock</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)="hideUpdateProduct()">Cancel</button>

   </form>
</div>

<div *ngIf=showProduct>
      <div class="row">
          <div class="col-md-1">
              <h2>Image</h2>
          </div>
          <div class="col-md-1">
              <h2>Name</h2>
          </div>
          <div class="col-md-1">
              <h2>Description</h2>
          </div>
          <div class="col-md-1">
              <h2>Size</h2>
          </div>
          <div class="col-md-1">
              <h2>Color</h2>
          </div>
          <div class="col-md-1">
              <h2>Cost</h2>
          </div>
          <div class="col-md-1">
              <h2>Price</h2>
          </div>
          <div class="col-md-2">
              <h2>ImageUrl</h2>
          </div>
        </div>
               <hr>
      <div class="row" *ngFor="let prod of productList">
        <div class="col-md-1">
            <img class="" src={{prod.imageURL}} alt="Image Link Broken">
        </div>
        <div class="col-md-1">
            {{prod.name}}
        </div>
        <div class="col-md-1">
            {{prod.description}}
        </div>
        <div class="col-md-1">
            {{prod.size}}
        </div>
        <div class="col-md-1">
            {{prod.color}}
        </div>
        <div class="col-md-1">
            {{prod.cost}}
        </div>
        <div class="col-md-1">
            {{prod.price}}
        </div>
        <div class="col-md-2">
            {{prod.imageURL}}
        </div>

        <div class="col-md-1">
          {{prod.inStock}}
        </div>
        <div>
        <button type="button" class="btn btn-warning" (click)=showEditProduct(prod)>
          Update
          </button>
        <button type="button" class="btn btn-danger" (click)=deleteProduct(prod._id)>
          Delete
        </button>
        </div>
      </div>
      <button type="button" class="btn btn-success" (click)=closeProducts()>
          Close
      </button>
  </div>




<div *ngIf=toggleEditWorker>
      <form class="form-signin just_form" #worker="ngForm" (ngSubmit)="updateWorker(worker)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Worker</h1>
        </div>

        <div class="form-label-group">
          <input type="text" name="email" class="form-control" placeholder="email" [ngModel]="selectedWorker.email" required autofocus>
          <label for="email">Email</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="zip" class="form-control" placeholder="zip" [ngModel]="selectedWorker.zip" required>
          <label for="zip">Zip</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="firstName" class="form-control" placeholder="firstName" [ngModel]="selectedWorker.firstName" required>
          <label for="firstName">First Name</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="lastName" class="form-control" placeholder="Last Name" [ngModel]="selectedWorker.lastName" required>
          <label for="lastName">Last Name</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)=hideUpdateWorker()>Cancel</button>
      </form>
</div>

<div *ngIf=toggleCreateWorker>
      <form class="form-signin just_form" #worker="ngForm" (ngSubmit)="createWorker(worker)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Worker</h1>
        </div>

        <div class="form-label-group">
          <input type="text" name="email" class="form-control" placeholder="email" ngModel required autofocus>
          <label for="email">Email</label>
        </div>

        <div class="form-label-group">

          <input type="text" name="zip" class="form-control" placeholder="zip" ngModel required>
          <label for="zip">Zip</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="firstName" class="form-control" placeholder="firstName" ngModel required>
          <label for="firstName">First Name</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="lastName" class="form-control" placeholder="Last Name" ngModel required>
          <label for="lastName">Last Name</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)="hideCreateWorker()">Cancel</button>
      </form>
</div>

 <div *ngIf=showWorker>
        <div class="row">
            <div class="col-md-3">
                <h2>Email</h2>
            </div>
            <div class="col-md-2">
                <h2>Zip</h2>
            </div>
            <div class="col-md-3">
                <h2>First Name</h2>
            </div>
            <div class="col-md-3">
                <h2>Last Name</h2>
           </div>
      </div>
      <hr>
     <div class="row" *ngFor="let worker of workerList">
          <div class="col-md-3 text-center">
              {{worker.email}}
          </div>
          <div class="col-md-2 text-center">
              {{worker.zip}}
          </div>
          <div class="col-md-3 text-center">
              {{worker.firstName}}
          </div>
          <div class="col-md-3 text-center">
              {{worker.lastName}}
          </div>
            <div class="col-md-1 btn-group">
            <button type="button" class="btn btn-warning" (click)="showEditWorker(worker)">
              Update
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteWorker(worker._id)">
              Delete
            </button>
          </div>
          </div>
          <button type="button" class="btn btn-success" (click)=closeWorkers()>
              Close
          </button>
      </div>





  <div *ngIf=toggleEditShopper>
      <form class="form-signin just_form" #shopper="ngForm" (ngSubmit)="updateShopper(shopper)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Shopper</h1>
        </div>

        <div class="form-label-group">
          <input type="text" name="firstName" class="form-control" placeholder="First Name" [ngModel]="selectedShopper.firstName" required autofocus>
          <label for="firstName">First Name</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="middleName" class="form-control" placeholder="Middle Name" [ngModel]="selectedShopper.middleName" required>
          <label for="middleName">Middle Name</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="lastName" class="form-control" placeholder="Last Name" [ngModel]="selectedShopper.lastName" required>
          <label for="lastName">Last Name</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="address1" class="form-control" placeholder="Address 1" [ngModel]="selectedShopper.address1" required>
          <label for="address1">Address 1</label>
        </div>

        <div class="form-label-group">
            <input type="text" name="address2" class="form-control" placeholder="Address 2" [ngModel]="selectedShopper.address2" required>
            <label for="address2">Address 2</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="city" class="form-control" placeholder="city" [ngModel]="selectedShopper.city" required>
              <label for="city">City</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="state" class="form-control" placeholder="State" [ngModel]="selectedShopper.state" required>
              <label for="address1">State</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="zip" class="form-control" placeholder="Zip Code" [ngModel]="selectedShopper.zip" required>
              <label for="zip">Zip Code</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="email" class="form-control" placeholder="Email Address" [ngModel]="selectedShopper.email" required>
              <label for="email">Email Address</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="phone" class="form-control" placeholder="Phone" [ngModel]="selectedShopper.phone" required>
              <label for="address1">Phone</label>
        </div>

        <div class="form-label-group">
              <input type="text" name="password" class="form-control" placeholder="Password" [ngModel]="selectedShopper.password" required>
              <label for="Password">Password</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)="hideUpdateShopper()">Cancel</button>

      </form>
  </div>
<div *ngIf=toggleCreateShopper>
        <form class="form-signin just_form" #shopper="ngForm" (ngSubmit)="createShopper(shopper)">
            <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Shopper</h1>
          </div>

          <div class="form-label-group">
            <input type="text" name="firstName" class="form-control" placeholder="First Name" ngModel required autofocus>
            <label for="firstName">First Name</label>
          </div>

          <div class="form-label-group">
            <input type="text" name="middleName" class="form-control" placeholder="Middle Name" ngModel required>
            <label for="middleName">Middle Name</label>
          </div>

          <div class="form-label-group">
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" ngModel required>
            <label for="lastName">Last Name</label>
          </div>

          <div class="form-label-group">
            <input type="text" name="address1" class="form-control" placeholder="Address 1" ngModel required>
            <label for="address1">Address 1</label>
          </div>

          <div class="form-label-group">
              <input type="text" name="address2" class="form-control" placeholder="Address 2" ngModel required>
              <label for="address2">Address 2</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="city" class="form-control" placeholder="city" ngModel required>
                <label for="city">City</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="state" class="form-control" placeholder="State" ngModel required>
                <label for="address1">State</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="zip" class="form-control" placeholder="Zip Code" ngModel required>
                <label for="zip">Zip Code</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="email" class="form-control" placeholder="Email Address" ngModel required>
                <label for="email">Email Address</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="phone" class="form-control" placeholder="Phone" ngModel required>
                <label for="address1">Phone</label>
          </div>

          <div class="form-label-group">
                <input type="text" name="password" class="form-control" placeholder="Password" ngModel required>
                <label for="Password">Password</label>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
          <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)=hideCreateShopper()>Cancel</button>

        </form>
  </div>

<div *ngIf=showShopper>
        <div class="row">
            <div class="col-md-1">
                <h2>First Name</h2>
            </div>
            <div class="col-md-1">
                <h2>Middle Name</h2>
            </div>
            <div class="col-md-1">
                <h2>Last Name</h2>
            </div>
            <div class="col-md-2">
                <h2>Address 1</h2>
            </div>
            <div class="col-md-1">
                <h2>Address 2</h2>
            </div>
            <div class="col-md-1">
                <h2>City</h2>
            </div>
            <div class="col-md-1">
                <h2>State</h2>
            </div>
            <div class="col-md-1">
                <h2>Zip</h2>
            </div>
            <div class="col-md-1">
                <h2>Email</h2>
            </div>
            <div class="col-md-1">
                <h2>Phone</h2>
            </div>
            <div class="col-md-1">
                <h2>Password</h2>
            </div>
       </div>
                 <hr>

    <div class="row" *ngFor="let shopper of shopperList">
            <div class="col-md-1">
              {{shopper.firstName}}
           </div>
          <div class="col-md-1">
              {{shopper.middleName}}
          </div>
          <div class="col-md-1">
              {{shopper.lastName}}
          </div>
          <div class="col-md-2">
              {{shopper.address1}}
          </div>
          <div class="col-md-1">
              {{shopper.address2}}
          </div>
          <div class="col-md-1">
              {{shopper.city}}
          </div>
          <div class="col-md-1">
              {{shopper.state}}
          </div>
          <div class="col-md-1">
              {{shopper.zip}}
          </div>
          <div class="col-md-1">
              {{shopper.email}}
          </div>
          <div class="col-md-1">
              {{shopper.phone}}
          </div>
          <div class="col-md-1">
              {{shopper.password}}
          </div>
          <div class=btn-group>
            <button type="button" class="btn btn-success" (click)=showEditShopper(shopper)>
              Update
            </button>
            <button type="button" class="btn btn-primary" (click)="deleteShopper(shopper._id)">
              Delete
            </button>
          </div>
     </div>
        <button type="button" class="btn btn-success" (click)=closeShoppers()>
            Close
          </button>
  </div>






 <div *ngIf=toggleEditTransaction>
      <form class="form-signin just_form" #transaction="ngForm" (ngSubmit)="updateTransaction(transaction)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Transaction</h1>
        </div>

        <div class="form-label-group">
          <input type="text" name="productID" class="form-control" placeholder="ProductID" [ngModel]="selectedTransaction.productID" required autofocus>
          <label for="productID">Product ID</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="shopperID" class="form-control" placeholder="shopperID" [ngModel]="selectedTransaction.shopperID" required>
          <label for="shopperID">Shopper ID</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="saleState" class="form-control" placeholder="saleState" [ngModel]="selectedTransaction.saleState" required>
          <label for="saleState">Sale State</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="taxRate" class="form-control" placeholder="taxRate" [ngModel]="selectedTransaction.taxRate" required>
          <label for="taxRate">Tax Rate</label>
        </div>

        <div class="form-label-group">
            <input type="text" name="quantity" class="form-control" placeholder="quantity" [ngModel]="selectedTransaction.quantity" required>
            <label for="quantity">Quantity</label>
          </div>

          <div class="form-label-group">
            <input type="text" name="productPrice" class="form-control" placeholder="productPrice" [ngModel]="selectedTransaction.productPrice" required>
            <label for="productPrice">Product Price</label>
          </div>

          <div class="form-label-group">
              <input type="text" name="total" class="form-control" placeholder="total" [ngModel]="selectedTransaction.total" required>
              <label for="total">Total</label>
          </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)=hideUpdateTransaction()>Cancel</button>

      </form>
  </div>

 <div *ngIf=toggleCreateTransaction>
      <form class="form-signin just_form" #transaction="ngForm" (ngSubmit)="createTransaction(transaction)">
          <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Transaction</h1>
        </div>

        <div class="form-label-group">
          <input type="text" name="productID" class="form-control" placeholder="ProductID" ngModel required autofocus>
          <label for="productID">Product ID</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="shopperID" class="form-control" placeholder="shopperID" ngModel required>
          <label for="shopperID">Shopper ID</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="saleState" class="form-control" placeholder="saleState" ngModel required>
          <label for="saleState">Sale State</label>
        </div>

        <div class="form-label-group">
          <input type="text" name="taxRate" class="form-control" placeholder="taxRate" ngModel required>
          <label for="taxRate">Tax Rate</label>
        </div>

        <div class="form-label-group">
            <input type="text" name="quantity" class="form-control" placeholder="quantity" ngModel required>
            <label for="quantity">Quantity</label>
          </div>

          <div class="form-label-group">
            <input type="text" name="productPrice" class="form-control" placeholder="productPrice" ngModel required>
            <label for="productPrice">Product Price</label>
          </div>

          <div class="form-label-group">
              <input type="text" name="total" class="form-control" placeholder="total" ngModel required>
              <label for="total">Total</label>
          </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Submit</button>
        <button class="btn btn-lg btn-danger btn-block" type="button" name="button" (click)=hideCreateTransaction()>Cancel</button>

      </form>
  </div>

    <div *ngIf=showTransaction>
        <div class="row">
            <div class="col-md-2">
                <h2>Product ID</h2>
            </div>
            <div class="col-md-2">
                <h2>Shopper ID</h2>
            </div>
            <div class="col-md-2">
                <h2>Product Price</h2>
            </div>
            <div class="col-md-2">
                <h2>Sale State</h2>
            </div>
            <div class="col-md-1">
                <h2>Tax Rate</h2>
            </div>
            <div class="col-md-1">
                <h2>Quantity</h2>
            </div>
            <div class="col-md-2">
                <h2>Total</h2>
            </div>
            </div>
                 <hr>
        <div class="row" *ngFor="let transaction of transactionList">
          <div class="col-md-2">
              {{transaction.productID}}
          </div>
          <div class="col-md-2">
              {{transaction.shopperID}}
          </div>
          <div class="col-md-2">
              {{transaction.productPrice}}
          </div>
          <div class="col-md-2">
              {{transaction.saleState}}
          </div>
          <div class="col-md-1">
              {{transaction.taxRate}}
          </div>
          <div class="col-md-1">
              {{transaction.quantity}}
          </div>
          <div class="col-md-2">
              {{transaction.total}}
          </div>
          <button type="button" class="btn btn-warning" (click)=showEditTransaction(transaction)>
            Update
            </button>
          <button type="button" class="btn btn-danger" (click)=deleteTransaction(transaction._id)>
            Delete
              </button>
        </div>
        <button type="button" class="btn btn-success" (click)=closeTransactions()>
            Close
          </button>

      </div>
    </div>
