<div class="container">
  <hr>
    <h1>Administration Portal</h1>
    <hr>
</div>
<div class="container">
  <h2>Products</h2>
  <div class=btn-group>
    <button type="button" class="btn btn-success">
    Create
    </button>
    <button type="button" class="btn btn-primary" (click)=addToCart()>
        Read
        </button>

    <button type="button" class="btn btn-warning" (click)=addToCart()>
      Update
      </button>
    <button type="button" class="btn btn-danger" (click)=addToCart()>
        Delete
        </button>
    </div>
    <br>

  <h2>Workers</h2>

  <div class=btn-group>
    <button type="button" class="btn btn-success">
    Create
    </button>
    <button type="button" class="btn btn-primary" (click)=addToCart()>
        Read
        </button>

    <button type="button" class="btn btn-warning" (click)=addToCart()>
      Update
      </button>
    <button type="button" class="btn btn-danger" (click)=addToCart()>
        Delete
        </button>
    </div>
    <br>
  <h2>Transactions</h2>
  <div class=btn-group>
    <button type="button" class="btn btn-success">
    Create
    </button>
    <button type="button" class="btn btn-primary" (click)=addToCart()>
        Read
        </button>

    <button type="button" class="btn btn-warning" (click)=addToCart()>
      Update
      </button>
    <button type="button" class="btn btn-danger" (click)=addToCart()>
        Delete
        </button>
    </div>
    <br>
  <h2>Shoppers</h2>
  <div class=btn-group>
    <button type="button" class="btn btn-success">
    Create
    </button>
    <button type="button" class="btn btn-primary" (click)=addToCart()>
        Read
        </button>

    <button type="button" class="btn btn-warning" (click)=addToCart()>
      Update
      </button>
    <button type="button" class="btn btn-danger" (click)=addToCart()>
        Delete
        </button>
    </div>
</div>
