.navbar-inner {
  background-color: red;
}
.brand,
.nav > li > a {
  color: black;
}

.nav > li > a:focus,
.nav > li > a:hover {

  background-color: rgb(90, 245, 51);
}
.nav .active > a,
.nav .active > a:hover,
.nav .active > a:focus {
  background-color: rgb(0, 153, 255);
}
.navbar-link {
  background-color: brown;
}
.navbar-link:hover {
  background-color: blue;
}
.divider-vertical {
  color: green;
}


