<!-- <hr>
<input type="text" name="" id="" label="" [(ngModel)]='newMessage'>
<button name="button" type="button" class="btn btn-dark" (click)=sendMessage(newMessage)>Send Message</button>
<button name="button" type="button" class="btn btn-dark" (click)=getMessage()>Get Message</button>


<div>
  {{message}}
</div> -->

<div class="container">
<ul class="nav nav-pills bg-light justify-content-md-center">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" class="nav-link">Home</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="store" class="nav-link">Store</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="mission" class="nav-link">Mission</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="vision" class="nav-link">Vision</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="about" class="nav-link">About</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="contact" class="nav-link">Contact</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="checkout" class="nav-link">Checkout</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="samples" class="nav-link">Samples</a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="admin" class="nav-link">Admin</a></li>




</ul>
</div>
