.card-text{
  color: white;
  background-color: blue;

}

.card{
  background-color: rgb(85, 247, 64);
  border: 4px solid blue;
}

.card-body{
  background-color: red;
  border: 4px solid blue;
}

.price {
  color: white;
}

img{
  size: 400px;
}
