.jumbotron {
  background-image: url("../../assets/backgreen.jpg");
  background-size: cover;
  background-position: topc;
  background-repeat: no-repeat;
  color: cyan;
  font-family: 'Trebuchet MS';
  text-align: center;


}
img {
  width: 70%;
  height: auto;
}

h4{
  color: floralwhite;
}
.col-md-3{
  background-color: greenyellow;
}
.col-md-1{
  background-color: aqua;
}
.col-md-11{
  background-color: coral;
}
